@model BugTracker_The_Reckoning.Models.Ticket

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Ticket</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.OwnerUser.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OwnerUser.FirstName)
        </dd>

        <dt>
            Project
        </dt>

        <dd>
            @Model.Project.Name
        </dd>

        <dt>
            Priority
        </dt>

        <dd>
            @Model.TicketPriority.Name
        </dd>

        <dt>
            Status
        </dt>

        <dd>
            @Model.TicketStatuses.Name
        </dd>

        <dt>
            Ticket Type
        </dt>

        <dd>
            @Model.TicketTypes.Name
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Model.Title
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Model.Description
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Created)
        </dt>

        <dd>
            @Model.Created
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Updated)
        </dt>

        <dd>
            @Model.Updated
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index") |
    @Html.ActionLink("Add an Attachment", "Create", "TicketAttachments", new { ticketParentId = Model.Id }, null) |
    @Html.ActionLink("Add a Comment", "Create", "TicketComments", new { ticketParentId = Model.Id })
</p>
