@model PagedList.IPagedList<BugTracker_The_Reckoning.Models.Ticket>
@using PagedList;
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index of Tickets";
}
<div class="row">
    <h2>Index of Tickets</h2>
</div>

<div class="row">
    <div class="col-xs-11">
        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
        <div class="panel-group" id="tickets">
            @if (Model != null)
            {
                <div class="row">
                    <div class="col-xs-12">
                        <table class="table table-striped">
                            <tr>
                                <th>
                                    <div class="col-md-1">
                                        @Html.ActionLink("Submitted By", "Index", new { sortOrder = ViewBag.NameSortParm, searchStr = ViewBag.searchStr })
                                    </div>
                                    <div class="col-md-2">
                                        @Html.ActionLink("Project Name", "Index", new { sortOrder = ViewBag.ProjectNameParm, searchStr = ViewBag.searchStr })
                                    </div>
                                    <div class="col-md-1">
                                        @Html.ActionLink("Priority", "Index", new { sortOrder = ViewBag.TicketPriorityNameParm, searchStr = ViewBag.searchStr })
                                    </div>
                                    <div class="col-md-1">
                                        @Html.ActionLink("Status", "Index", new { sortOrder = ViewBag.TicketStatusesNameParm, searchStr = ViewBag.searchStr })
                                    </div>
                                    <div class="col-md-1">
                                        @Html.ActionLink("Type", "Index", new { sortOrder = ViewBag.TicketTypesNameParm, searchStr = ViewBag.searchStr })
                                    </div>
                                    <div class="col-md-2">
                                        @Html.ActionLink("Title", "Index", new { sortOrder = ViewBag.TitleParm, searchStr = ViewBag.searchStr })
                                    </div>
                                    <div class="col-md-1">
                                        @Html.ActionLink("Created", "Index", new { sortOrder = ViewBag.CreatedParm, searchStr = ViewBag.searchStr })
                                    </div>
                                    <div class="col-md-1">
                                        @Html.ActionLink("Updated", "Index", new { sortOrder = ViewBag.UpdatedParm, searchStr = ViewBag.searchStr })
                                    </div>
                                    <div class="col-md-1">
                                        @Html.ActionLink("Assigned Developer", "Index", new { sortOrder = ViewBag.AssignedParm, searchStr = ViewBag.searchStr })
                                    </div>
                            </tr>
                        </table>
                    </div>
                </div>
                foreach (var item in Model)
                {
                    string theHref = "#panel-element-tickets" + item.Id;
                    string theId = "panel-element-tickets" + item.Id;
                    <div class="panel panel-default">
                        <div class="panel-heading col-sm-12">
                            <a class="panel-title collapsed" data-toggle="collapse" data-parent="#tickets" href=@theHref style="font-size:12px">
                                <div class="col-md-1">
                                    @Html.DisplayFor(modelItem => item.OwnerUser.FirstName)
                                </div>
                                <div class="col-md-2">
                                    @Html.DisplayFor(modelItem => item.Project.Name)
                                </div>
                                <div class="col-md-1">
                                    @Html.DisplayFor(modelItem => item.TicketPriority.Name)
                                </div>
                                <div class="col-md-1">
                                    @Html.DisplayFor(modelItem => item.TicketStatuses.Name)
                                </div>
                                <div class="col-md-1">
                                    @Html.DisplayFor(modelItem => item.TicketTypes.Name)
                                </div>
                                <div class="col-md-2">
                                    @Html.DisplayFor(modelItem => item.Title)
                                </div>
                                <div class="col-md-1">
                                    @Html.DisplayFor(modelItem => item.Created)
                                </div>
                                <div class="col-md-1">
                                    @Html.DisplayFor(modelItem => item.Updated)
                                </div>
                                <div class="col-md-1">
                                    @Html.DisplayFor(modelItem => item.AssignedUser.DisplayName)
                                </div>
                                <div class="col-md-1">
                                    @Html.ActionLink("Details", "Details", new { id = item.Id })
                                </div>
                            </a>
                        </div>
                        <div id=@theId class="panel-collapse collapse">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-10 column">
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <h3>
                                                    @Html.ActionLink("Attachments(" + item.TicketAttachments.Count() + ")", "Details/" + item.Id)
                                                </h3>
                                            </div>
                                            <div class="col-sm-4">
                                                <h3>
                                                    @Html.ActionLink("Comments(" + item.TicketAttachments.Count() + ")", "Details/" + item.Id)
                                                </h3>
                                            </div>
                                            <div class="col-sm-4">
                                                <h3>
                                                    @Html.ActionLink("History(" + item.TicketAttachments.Count() + ")", "Details/" + item.Id)
                                                </h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2 column">
                                        <div class="btn-group btn-group-vertical" style="padding-top:20px">
                                            @if (User.IsInRole("Administrator") || User.IsInRole("Project Manager"))
                                            {
                                                <span title="Edit Ticket"><em>@Html.ActionLink(" ", "Edit", new { id = item.Id }, new { @class = "btn btn-default glyphicon glyphicon-pencil" })</em></span>

                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                }
            }
        </div>
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.sortOrder, searchStr = ViewBag.searchStr, ViewBag.titleSearch, ViewBag.nameSearch, ViewBag.emailSearch, ViewBag.projectSearch, ViewBag.attachmentsSearch, ViewBag.prioritySearch, ViewBag.statusSearch, ViewBag.typeSearch, ViewBag.assignSearch }))
    </div>

    <div class="col-xs-1">
        @using (Html.BeginForm("Index", "Tickets", FormMethod.Post))
        {
            <div class="row">
                @Html.TextBox("searchStr")<button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search"></span></button>
                <button type="button" class="btn btn-primary" onclick="AdvancedSearch()">Advanced Search</button>
            </div>
            <div class="advancedSearch" style="font-size:12px">
                <h3>Include:</h3>
                <div class="row">
                    @Html.CheckBox("titleSearch", (bool)ViewBag.titleSearch)
                    @Html.Label("Title")
                </div>
                <div class="row">
                    @Html.CheckBox("nameSearch", (bool)ViewBag.nameSearch)
                    @Html.Label("Owner Name")
                </div>
                <div class="row">
                    @Html.CheckBox("emailSearch", (bool)ViewBag.emailSearch)
                    @Html.Label("Owner Email")
                </div>
                <div class="row">
                    @Html.CheckBox("projectSearch", (bool)ViewBag.projectSearch)
                    @Html.Label("Projects")
                </div>
                <div class="row">
                    @Html.CheckBox("attachmentsSearch", (bool)ViewBag.attachmentsSearch)
                    @Html.Label("Attachments")
                </div>
                <div class="row">
                    @Html.CheckBox("prioritySearch", (bool)ViewBag.prioritySearch)
                    @Html.Label("Priority")
                </div>
                <div class="row">
                    @Html.CheckBox("typeSearch", (bool)ViewBag.typeSearch)
                    @Html.Label("Type")
                </div>
                <div class="row">
                    @Html.CheckBox("statusSearch", (bool)ViewBag.statusSearch)
                    @Html.Label("Status")
                </div>
                <div class="row">
                    @Html.CheckBox("assignSearch", (bool)ViewBag.assignSearch)
                    @Html.Label("Developer")
                </div>
            </div>
        }
    </div>
</div>
<script src="~/Scripts/TicketsIndex.js"></script>