@model PagedList.IPagedList<BugTracker_The_Reckoning.Models.Ticket>
@using PagedList;
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index of Tickets";
}
<div class="row">
    <div class="col-xs-3">
        <h2>Index of Tickets</h2>
    </div>
</div>

<div class="row">
    <div class="col-xs-10">
        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
        <table class="table table-striped">
            <tr>
                <th>
                    @Html.ActionLink("Submitted By", "Index", new { sortOrder = ViewBag.NameSortParm, searchStr = ViewBag.searchStr })
                </th>
                <th>
                    @Html.ActionLink("Project Name", "Index", new { sortOrder = ViewBag.ProjectNameParm, searchStr = ViewBag.searchStr })
                </th>
                <th>
                    @Html.ActionLink("Priority", "Index", new { sortOrder = ViewBag.TicketPriorityNameParm, searchStr = ViewBag.searchStr })
                </th>
                <th>
                    @Html.ActionLink("Status", "Index", new { sortOrder = ViewBag.TicketStatusesNameParm, searchStr = ViewBag.searchStr })
                </th>
                <th>
                    @Html.ActionLink("Type", "Index", new { sortOrder = ViewBag.TicketTypesNameParm, searchStr = ViewBag.searchStr })
                </th>
                <th>
                    @Html.ActionLink("Title", "Index", new { sortOrder = ViewBag.TitleParm, searchStr = ViewBag.searchStr })
                </th>
                <th>
                    @Html.ActionLink("Created", "Index", new { sortOrder = ViewBag.CreatedParm, searchStr = ViewBag.searchStr })
                </th>
                <th>
                    @Html.ActionLink("Updated", "Index", new { sortOrder = ViewBag.UpdatedParm, searchStr = ViewBag.searchStr })
                </th>
                <th>
                    @Html.ActionLink("Assigned Developer", "Index", new { sortOrder = ViewBag.AssignedParm, searchStr = ViewBag.searchStr })
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.OwnerUser.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Project.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TicketPriority.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TicketStatuses.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TicketTypes.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Created)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Updated)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AssignedUser.DisplayName)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Details", "Details", new { id = item.Id })
                    </td>
                </tr>
            }
        </table>
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.sortOrder, searchStr = ViewBag.searchStr, ViewBag.titleSearch, ViewBag.nameSearch, ViewBag.emailSearch, ViewBag.projectSearch, ViewBag.attachmentsSearch, ViewBag.prioritySearch, ViewBag.statusSearch, ViewBag.typeSearch, ViewBag.assignSearch }))
    </div>
    <div class="col-xs-2">
        @using (Html.BeginForm("Index", "Tickets", FormMethod.Post))
        {
            <div class="row">
                @Html.TextBox("searchStr")<button type="submit" class="btn btn-primary" value=""><span class="glyphicon glyphicon-search"></span></button>
                <button type="button" class="btn btn-primary" onclick="AdvancedSearch()">Advanced Search</button>
            </div>
            <div class="advancedSearch">
                <div class="row">
                    @Html.CheckBox("titleSearch", (bool)ViewBag.titleSearch) @*new { data-toggle = "toggle"}*@
                    @Html.Label("Title")
                </div>
                <div class="row">
                    @Html.CheckBox("nameSearch", (bool)ViewBag.nameSearch)
                    @Html.Label("Owner's Name")
                </div>
                <div class="row">
                    @Html.CheckBox("emailSearch", (bool)ViewBag.emailSearch)
                    @Html.Label("Owner's Email")
                </div>
                <div class="row">
                    @Html.CheckBox("projectSearch", (bool)ViewBag.projectSearch)
                    @Html.Label("Projects")
                </div>
                <div class="row">
                    @Html.CheckBox("attachmentsSearch", (bool)ViewBag.attachmentsSearch)
                    @Html.Label("Attachments")
                </div>
                <div class="row">
                    @Html.CheckBox("prioritySearch", (bool)ViewBag.prioritySearch)
                    @Html.Label("Priority")
                </div>
                <div class="row">
                    @Html.CheckBox("typeSearch", (bool)ViewBag.typeSearch)
                    @Html.Label("Type")
                </div>
                <div class="row">
                    @Html.CheckBox("statusSearch", (bool)ViewBag.statusSearch)
                    @Html.Label("Status")
                </div>
                <div class="row">
                    @Html.CheckBox("assignSearch", (bool)ViewBag.assignSearch)
                    @Html.Label("Assigned Developer")
                </div>
            </div>
        }
    </div>
</div>
<script src="~/Scripts/TicketsIndex.js"></script>