@model IEnumerable<BugTracker_The_Reckoning.Models.Project>

@{
    ViewBag.Title = "Index";
}

<h2>@ViewBag.Title</h2>
<p>
    @Html.ActionLink("Create New Project", "Create")
</p>
<div class="panel-group" id="ticketProjects">
    @if (Model != null)
    {
        <table class="table table-striped">
            <tr>
                <th>
                    @Html.ActionLink("Name", "Index", new { sortOrder = ViewBag.NameSort })
                </th>
            </tr>
        </table>
        foreach (var item in Model)
        {
            string theHref = "#panel-element-projects" + item.Id;
            string theId = "panel-element-projects" + item.Id;
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a class="panel-title collapsed" data-toggle="collapse" data-parent="#projects" href=@theHref>@item.Name</a>
                </div>
                <div id=@theId class="panel-collapse collapse">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-10 column">
                                <div class="col-md-7">
                                    @Html.ActionLink("Details", "Details", new { id = item.Id })
                                </div>
                            </div>
                            <div class="col-md-2 column">
                                <div class="btn-group btn-group-vertical">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <span title="Edit Project"><em>@Html.ActionLink(" ", "Edit", new { id = item.Id }, new { @class = "btn btn-default glyphicon glyphicon-pencil" })</em></span>
                                        </div>
                                        <div class="col-md-4">
                                            <span title="View History FIX ME"><em>@Html.ActionLink(" ", "Details/", "TicketHistories", new {id = item.Id}, new{@class="btn btn-default glyphicon glyphicon-backward"})</em></span>
                                        </div>
                                        <div class="col-md-4">
                                            <span title="Delete Project"><em>@Html.ActionLink(" ", "Delete", new { id = item.Id }, new { @class = "btn btn-default glyphicon glyphicon-trash" })</em></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        }
    }
</div>
